.Formpage {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 90vh;
  margin: auto;
  padding: 2rem;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.Formpage > h3,
.Formpage > p,
.Formpage > form {
  margin: 0.5rem 0;
}

.Formpage > h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;
}

.Formpage > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -2%;
}

.user_name > div > label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
form > .user_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}

div > label,
div > input {
  padding: 0.5rem 0;
}

.user_name > div {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.user_details {
  display: flex;
  flex-direction: column;
}

.user_check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user_check > label {
  width: 90%;
}

input {
  border: 1px solid#D0D5DD;
  border-radius: 8px;
}

.submit {
  width: 100%;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  padding: 1rem;
  color: white;
}
.user_check {
  padding: 1rem 0;
}

input {
  padding: 0.5rem;
  margin: 0.5rem 0;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari/Edge */
  padding: 0.5rem;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  padding: 0.5rem;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  padding: 0.5rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Formpage {
    width: 95%;
  }
  .user_name > div {
    width: 40%;
  }

  .user_check > label {
    width: 90%;
  }
  form > .user_name {
    display: flex;
    flex-direction: column;
  }
  form > .user_name > div {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Formpage {
    width: 90%;
  }
  .user_name > div {
    width: 40%;
  }

  .user_check > label {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Formpage {
    width: 80%;
  }
  .user_name > div {
    width: 40%;
  }

  .user_check > label {
    width: 90%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Formpage {
    width: 75%;
  }
  .user_name > div {
    width: 40%;
  }

  .user_check > label {
    width: 90%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Formpage {
    width: 73%;
  }
  .user_name > div {
    width: 40%;
  }

  .user_check > label {
    width: 90%;
  }
}
